body {
    background: url('../imgs/background.jpg') no-repeat center center fixed;
    background-size: cover;
}
#page{
    width:100%;
    overflow-y: auto;
    overflow-x: hidden;
}
#page h1{
    text-align: center;
    margin-bottom: 3%;
}
#background{
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    position: absolute;
}
#prof{
    margin: auto;
    margin-top:15%;
    margin-bottom: 2%;
    width: 75%;
}
#profImage{
    width: 35%;
    text-align: right;
    padding-right: 1.3%;
}
#profImage div{
    height:100px;
    width:100px;
    float:right;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.4);
}
#profName{
    width: 65%;
    text-align: left;
    padding-left: 1.3%;
    margin: auto;
    color: white;
}
#profImage img {
    width: auto;
    height: 120px;
    margin-top:-2%
}
/* Contents */
.card-columns {
    column-count: 1;
}
#contactBut{
    text-align: center;
    margin-bottom: 3%;
}
#contactBut a {
    font-size: 15pt;
    transition: transform .2s ease-in-out;
    display:inline-block;
    color: #343a40;
    margin: 0 5% 0 5%;
}
#contactBut a:hover { 
    transform: scale(1.3); 
}
#contactBut a .fa {
  font-size: 50pt;
}
